body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 8px;
	width: 400px;
	overflow: hidden;
	background-color: transparent;
	color: #123c75;
}
p{
	padding: 0px;
	margin: 4px 8px;
}
input[type=button], input[type=submit]{
	color: #123c75;
	background-color: #6ac2ee;
	border: none;
	border-radius: 4px;
	padding: 2% 4%;
	margin: 8px;
	display: block;
}
input[type=text], input[type=password]{
	color: #333333;
	background-color: #ffffff;
	border: 1px solid #ededed;
	border-radius: 4px;
	padding: 2% 4%;
	margin: 8px;
	display: inline;
}
input[type=button]#remove{
	background-color: #ededed;
	color: #333333;
	display: inline;
}
span#message{
	font-size: 0.8em;
	color: #333333;
}